h1 {
    color: #449D44;
    font-size: 60px;
    /*color: #5BC0DE;*/
}

h3{
    color: #8ac007;
    font-size: 25px;
}

h4 {
    color:white;
    font-size: 22px;
}

#actionMessage {
    color: #5cb85c;
    font-size: 16px;
}

.form-group{
    padding-left: 20px;
}

.form-group label{
    margin-top: 7px;
}

.form-group img{
    margin-left: 10px;
}

.formGroupImg{
    margin-left: -4px;
}

.dc-table-group img{
    cursor : pointer;
}

.note {
    color: gray;
}


/* ***************************************** */
/* *************** HOME PAGE *************** */
/* ***************************************** */
.containerHome {
    border: 2px solid gray;
    border-radius: 10px;
    min-height: 600px;
    margin-top: 10px;
    padding-top : 10px;
    position: relative;
    margin-bottom: 10px;
}

#dateValue {
    color: gray;
    font-size: 24px;
    margin-top: 6px;
}

#banner {
    color: #696969;
}

.footer {
    color: #449D44;
    font-size: 12px;
    position: absolute;
    bottom: 0;
}

#climateZones{
    margin-top: -9px;
    /*cursor: pointer;*/
}

.basicDiv {
    border-radius: 10px;
    border: 1px solid #ccc;
    height: 90px;
    display: table;
    /*background-color: #449D44;*/
    background: -webkit-linear-gradient(#8ac007, #006400);
    background: -moz-linear-gradient(#8ac007, #006400);
    background: -ms-linear-gradient(#8ac007, #006400);
    background: -o-linear-gradient(#8ac007, #006400);
    background: linear-gradient(#8ac007, #006400) repeat scroll 0 0;
    box-shadow: 1px 1px 10px #449D44 inset, 0 1px 0 rgba( 68, 157, 68, 0.4);
    /*box-shadow: 0px 1px 1px 0px rgb(61, 194, 27);*/
    color: rgb(255, 255, 255);
    padding-right: 0;
}

.basicTitleOneLine{
    margin-top: 20px;
}

.basicTitle {
    margin-top: 7px;
}

.basicButton, .basicButton.btn-default:hover {
    border: none;
    background-color: transparent;
    margin-left: 0 !important;
    margin-right: -7px !important;
    padding: 0 !important;
}

#actions{
    margin: 20px 20px 20px 60px;
}

button a {
    cursor : pointer;
}

.warning {
    color: #FF7F50;
}


/* ***************************************** */
/* *********** VEGETAL SHEET PAGE ********** */
/* ***************************************** */
.vegetaleTitle {
    color: #449D44;
    font-size: 40px;
}

.vegetaleSubTitle{
    color: #449D44;
}

.vegetaleSubTitle2{
    color: #8ac007;
}

.vegetalNumberSheet {
    color: #8ac007;
    font-size: 18px;
}

#smallDateValue {
    color: gray;
    font-size: 14px;
    margin-top: 15px;
}

#containerImages{
    height: 50%;
}

/* ***************************************** */
/* ************ SAWING SHEET PAGE ********** */
/* ***************************************** */
.sawingTitle {
    color: #FF7F50;
    font-size: 40px;
    margin-left: -60px;
}

.sawingNumberSheet {
    color: #F08080;
    font-size: 18px;
}

#plantDateWeek{
    margin-top: 8px;
}

#plantDateWarning {
    margin-top: 11px;
}

#plantDateWarning img {
    margin-top: -9px;
}


/* ***************************************** */
/* *************** FORECAST PAGE *********** */
/* ***************************************** */
.forecastTitle {
    color: #B22222;
    font-size: 40px;
    margin-left: -60px;
}

.forecastSubTitle {
    color: #5F9EA0;
    font-size: 25px;
}


/* ***************************************** */
/* ************** STATISTIC PAGE *********** */
/* ***************************************** */
.statisticTitle {
    color: #008080;
    font-size: 40px;
}

.statisticSubTitle {
    color: #5F9EA0;
    font-size: 25px;
}


/* ***************************************** */
/* ********** TECHNICAL INFORMATIONS ******* */
/* ***************************************** */
.technicalTitle {
    /*color: #B22222;*/
    font-size: 40px;
}

.technicalSubTitle {
    /*color: #FF4500;*/
    font-size: 25px;
}


/* ******************************************** */
/* ****************** TOOLTIP ***************** */
/* ******************************************** */

/* ************** BUTTON TOOLTIP ************** */
.tooltip-inner {
    padding: 12px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    display: block;
    font-size: 13px;
}

.tooltip.right .tooltip-arrow {
    border-right-color: rgba(0, 0, 0, 0.6);
}

.specialToolTipTitle{
    color: #449D44;
}

/* ************** D3-TIP ************** */
/*.d3-tip {*/
/*background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);*/
/*border-radius: 8px 8px 8px 8px;*/
/*color: #FFFFFF;*/
/*font-weight: bold;*/
/*line-height: 1;*/
/*padding: 12px;*/
/*max-width: 350px;*/
/*}*/

/*.d3-tip:after {*/
/*color: rgba(0, 0, 0, 0.8);*/
/*content: "▼";*/
/*display: inline;*/
/*font-size: 10px;*/
/*line-height: 1;*/
/*position: absolute;*/
/*text-align: center;*/
/*width: 100%;*/
/*}*/

/*.d3-tip.n:after {*/
/*left: 0;*/
/*margin: -1px 0 0;*/
/*top: 100%;*/
/*}*/

/*.d3-tipTitle {*/
/*color: #5bc0de;*/
    }