h1 {
    color: #449D44;
    font-size: 80px;
    /*color: #5BC0DE;*/
}

h2 {
    color: #449D44;
    font-size: 40px;
}

h3{
    color: #8ac007;
    font-size: 25px;
}

h4 {
    color:white;
    font-size: 22px;
}

h5 {
    color: #8ac007;
    font-size: 18px;
}

.container {
    border: 2px solid gray;
    border-radius: 10px;
    margin: 10px 20px 15px;
    padding: 15px 15px 50px;
}

#dateValue {
    color: gray;
    font-size: 18px;
}

/* ***************************************** */
/* *************** HOME PAGE *************** */
/* ***************************************** */

.basicDiv {
    border-radius: 10px;
    border: 1px solid #ccc;
    height: 90px;
    display: table;
    background-color: #449D44;
}

.basicTitleOneLine{
    margin-top: 20px;
}

.basicTitle {
    margin-top: 7px;
}

.basicButton {
    border: none;
    background-color: transparent;
}

.basicButton.btn-default:hover{
    background-color: transparent;
}

#trolley{
    margin: 20px 20px 20px 60px;
}


/* ***************************************** */
/* *************** NOTE PAGE *************** */
/* ***************************************** */
.form-group{
    padding-left: 20px;
}

.dc-table-group img{
    cursor : pointer;
}

/* ******************************************** */
/* ****************** TOOLTIP ***************** */
/* ******************************************** */

/* ************** BUTTON TOOLTIP ************** */
.tooltip-inner {
    padding: 12px;
    color: #8ac007;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    display: block;
    font-size: 13px;
}

.tooltip.right .tooltip-arrow {
    border-right-color: rgba(0, 0, 0, 0.6);
}

/* ************** D3-TIP ************** */
/*.d3-tip {*/
/*background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);*/
/*border-radius: 8px 8px 8px 8px;*/
/*color: #FFFFFF;*/
/*font-weight: bold;*/
/*line-height: 1;*/
/*padding: 12px;*/
/*max-width: 350px;*/
/*}*/

/*.d3-tip:after {*/
/*color: rgba(0, 0, 0, 0.8);*/
/*content: "▼";*/
/*display: inline;*/
/*font-size: 10px;*/
/*line-height: 1;*/
/*position: absolute;*/
/*text-align: center;*/
/*width: 100%;*/
/*}*/

/*.d3-tip.n:after {*/
/*left: 0;*/
/*margin: -1px 0 0;*/
/*top: 100%;*/
/*}*/

/*.d3-tipTitle {*/
/*color: #5bc0de;*/
    }